<section class="home-content">


	<form class="searcher">
		<input class="search-bar" placeholder="Buscar...">
		<input type="submit" class="search-button" value="">
		<i class="fas fa-search"></i>
	</form>

	<div class="actions">
		<button class="action good-task-switcher">Positivas</button>
		<button class="action bad-task-switcher">Negativas</button>
		<select>
			<option>Categoria</option>
		</select>
	</div>

	<div class="task-list">
		{% for row in task_list %}
			<div class="task-item">

				<form class="add-task">
					<input type="submit" value="+">
				</form>
				<p class="task-title">{{row[1]}}</p>
				<span class="task-description">{{row[2]}}</span>


				{% if row[4] == 1 %}
					<span class="task-cost positive">+
						{{row[3]}}
						T</span>

				{% elseif row[4] == 0 %}
					<span class="task-cost negative">-
						{{row[3]}}
						T</span>
				{% endif %}

				{% if row[6] == 1 %}
					<span class="task-level one" style="background: {{row[11]}}">
						<p class="task-category">{{row[9]}}</p>
					</span>
				{% elseif row[6] == 2 %}
					<span class="task-level two" style="background: {{row[11]}}">
						<p class="task-category">{{row[9]}}</p>
					</span>
				{% elseif row[6] == 3 %}
					<span class="task-level three" style="background: {{row[11]}}">
						<p class="task-category">{{row[9]}}</p>
					</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</section>
