{% if search == null and adding == null %}
	<section class="home-content">

		<div class="searcher">
			<input class="search-bar" placeholder="Buscar...">
		</div>

		<div class="task-result"></div>

		<div class="task-list">
			<div class="new-task">
				<a href="/add-task">+ Añadir tarea</a>
			</div>
			{% if num_of_tasks <  0 %}

				{% else %}
					{% for i in 0..num_of_tasks %}
						<div class="task-item {{task_list[i][12]}}">

							<form class="add-task" method="POST">
								<input class="add-task-input" value="{{task_list[i][0]}}">
							</form>

							<p class="task-title">{{task_list[i][1]}}</p>
							<button class="delete-task" value="{{task_list[i][0]}}">X</button>


							{% if task_list[i][4] == 1 %}
								<span class="task-cost positive">+
									{{task_list[i][3]}}
									T</span>

							{% elseif task_list[i][4] == 0 %}
								<span class="task-cost negative">-
									{{task_list[i][3]}}
									T</span>
							{% endif %}

							{% if task_list[i][6] == 1 %}
								<span class="task-level one" style="background: {{task_list[i][12]}}">
									<p class="task-category">{{task_list[i][10]}}</p>
								</span>
							{% elseif task_list[i][6] == 2 %}
								<span class="task-level two" style="background: {{task_list[i][12]}}">
									<p class="task-category">{{task_list[i][10]}}</p>
								</span>
							{% elseif task_list[i][6] == 3 %}
								<span class="task-level three" style="background: {{task_list[i][12]}}">
									<p class="task-category">{{task_list[i][10]}}</p>
								</span>
							{% endif %}
						</div>
					{% endfor %}
			{% endif %}


		</div>
	</section>


{% elseif search != null and num_of_tasks > 0 %}
	<div class="new-task">
		<a href="/add-task">+ Añadir tarea</a>
	</div>
	{% for i in 0..(num_of_tasks-1) %}
		<div class="task-item {{task_list[i][12]}}">

			<form class="add-task" method="POST">
				<input class="add-task-input" value="{{task_list[i][0]}}">
			</form>

			<p class="task-title">{{task_list[i][1]}}</p>
			<button class="delete-task" value="{{task_list[i][0]}}">X</button>


			{% if task_list[i][4] == 1 %}
				<span class="task-cost positive">+
					{{task_list[i][3]}}
					T</span>

			{% elseif task_list[i][4] == 0 %}
				<span class="task-cost negative">-
					{{task_list[i][3]}}
					T</span>
			{% endif %}

			{% if task_list[i][6] == 1 %}
				<span class="task-level one" style="background: {{task_list[i][12]}}">
					<p class="task-category">{{task_list[i][10]}}</p>
				</span>
			{% elseif task_list[i][6] == 2 %}
				<span class="task-level two" style="background: {{task_list[i][12]}}">
					<p class="task-category">{{task_list[i][10]}}</p>
				</span>
			{% elseif task_list[i][6] == 3 %}
				<span class="task-level three" style="background: {{task_list[i][12]}}">
					<p class="task-category">{{task_list[i][10]}}</p>
				</span>
			{% endif %}
		</div>
	{% endfor %}


{% elseif num_of_tasks == 0 and search == true %}
	<div class=" new-task">
		<a href="/add-task">+ Añadir tarea</a>
	</div>

{% elseif adding == true %}
	{% if task_error%}
		<p class="task-error task-log">{{task_error}}<span class="close close-error">X</span>
		</p>
	{% elseif task_success%}
		<p class="task-success task-log">{{task_success}}<span class="close close-success">X</span>
		</p>
	{% endif %}
{% endif %}
