{% if delete == null %}
	<div class="user-tasks-wrapper">
		<div class="task-container">
			<div class="user-tasks-header"></div>

			{% if no_tasks == false %}
				<div class="task-list-wrapper">
					{% for task in tasks %}
						{% if task[4] == 1 %}
							<div class="task good-task">
								<button class="delete-task" value="{{ task[0] }}">X</button>
								<h2 class="task-name">{{ task[1] }}</h2>
								<h4>
									+{{ task[3] }}</h4>
								<button class="do-task" value="{{ task[0] }}">Click!</button>
							</div>
						{% elseif task[4] == 0 %}
							<div class="task bad-task">
								<button class="delete-task" value="{{ task[0] }}">X</button>
								<h2 class="task-name">{{ task[1] }}</h2>
								<h4>
									-{{ task[3] }}</h4>
								<button class="do-task" value="{{ task[0] }}">Click!</button>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% elseif no_tasks == true %}
			<div class="task-list-wrapper"></div>
		{% endif %}


	</div>
{% elseif delete != null%}
	{% if no_tasks == false %}
		{% for task in tasks %}
			{% if task[4] == 1 %}
				<div class="task good-task">
					<button class="delete-task" value="{{ task[0] }}">X</button>
					<h2 class="task-name">{{ task[1] }}</h2>
					<h4>{{ task[3] }}</h4>
					<button class="do-task" value="{{ task[0] }}">Click!</button>
				</div>
			{% elseif task[4] == 0 %}
				<div class="task bad-task">
					<button class="delete-task" value="{{ task[0] }}">X</button>
					<h2 class="task-name">{{ task[1] }}</h2>
					<h4>{{ task[3] }}</h4>
					<button class="do-task" value="{{ task[0] }}">Click!</button>
				</div>
			{% endif %}
		{% endfor %}
		{% elseif no_tasks == true %}
	{% endif %}

{% endif %}
